{% extends "template.html" %}

{% block main %}

<form action="{{ url_for('people') }}" method="post"> 
    <fieldset>
        {{ form.csrf_token}}
        {{ form.username }}
        {{ form.submit }}
    </fieldset>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}        
{% endwith %}

{% for user in followed_users %}
<strong>{{ user.username }}</strong>            
{% endfor %}

{% endblock %}