<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ heading | capitalize }}</title>
</head>
<body>  
    <nav>    
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('people') }}">People</a></li>
            <li><a href="{{ url_for('post') }}">Post</a></li>
            <li><a href="{{ url_for('user') }}">User</a></li>
        </ul>
    </nav>
    <header>
        {{ heading | capitalize }}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
