<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ heading | capitalize }}</title>
</head>
<body>

    {% if request.path != '/login' %}
    <nav>
        <ul>
            {% for key, value in nav.items() %}
                <li><a href="{{ value }}">{{ key }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    <header>
        {{ heading | capitalize }}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
